.van-nav-bar.van-nav-bar--safe-area-inset-top.van-hairline--bottom {
  background: #2494F2 !important;
}

.van-nav-bar__title {
  max-width: 60%;
  margin: 0 auto;
  color: white;
  font-weight: 500;
  font-size: 16px;
}

.van-nav-bar .van-icon {
  color: white;
}

.van-nav-bar__content {
  background: #2494F2;
}
