.van-nav-bar.van-nav-bar--safe-area-inset-top.van-hairline--bottom {
  background: #2494F2 !important;
}

.van-nav-bar__title {
  max-width: 60%;
  margin: 0 auto;
  color: white;
  font-weight: 500;
  font-size: 16px;
}

.van-nav-bar .van-icon {
  color: white;
}

.van-nav-bar__content {
  background: #2494F2;
}

/*详情页信息展示面板*/
.ep-detail-panel-wrapper{
  height: 80%;
  overflow: scroll;
}

* {
  padding: 0;
  margin: 0;
}

.ep_pass {
  color: #1DC791;
}

.ep_not_pass {
  color: #F4454D;
}

.ep_wait {
  color: #FFB016;
}

.ep_save {
  color: #c6bebe;
}

.main-wrap{
  min-height:450px ;
}
